{% extends 'base.html' %}


{% block title %}Tags{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow-sm mb-4 bg-white rounded">
        <div class="card-header bg-light text-info">
            <h3>Tags </h3>
        </div>

        <div class="card-body bg-light">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <form class="form-inline" id="addTags" action="">
                
                    <div class="form-group m-4">
                        <label class="text-black font-weight-bold" for="labelId">Label </label>
                        <input type="text" class="form-control m-3" id="labelId" name="tagLabel" />
                    </div>
                   
                    <div class="form-group m-4">
                        <label class="font-weight-bold" for="nColorId">Color </label>
                        <input type="color" class="form-control m-3" id="nColorId" name="nColor" value="#ff0000"/>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="form-group m-4">
                            <input type="submit" class="form-control m-3 btn btn-info btn-block" value="  Add  " />
                        </div>
                    </div>
                    
                </form>
            </div>
        
            <div class="card shadow p-3 mb-5 bg-white rounded">


                <table class="table" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Programme</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for tags in tags_list %}
                        <tr id="tg-{{tags.id}}">
                            <th scope="row">{{tags.color}}</th>
                            <td>{{ tags.label }}</td>
                            <td><pre><span onclick="editTag({{tags.id}})"><i class="fas fa-pencil-alt" style="color:purple;"></i></span>   <span onclick="deleteTag({{tags.id}})"><i class="far fa-trash-alt" style="color:purple;"></i></span></pre></td>
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}
<script>

    $("form#addTags").submit(function() {
    
        var tlabel = $('input[name="tagLabel"]').val();
        var tcolor = $('input[name="nColor"]').val();
       
    
        if (tlabel && tcolor) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "add_tags" %}',
                data: {
                'label':tlabel,
                'color':tcolor
                },
                dataType: 'json',
                success: function (data) {
                    console.log('tag' + data);
                    console.log(data.tags);
                    if (data.tags) {
                        
                        appendToUsrTable(data.tags);
                        alert("Data Added")
                    
                    }
                    
                }
            });
        } else {
            alert("All fields must have a valid value.");
        }
        $('form#addTags').trigger("reset");
        return false;
    });
    
    function appendToUsrTable(programme) {
        $("#myTable > tbody:last-child").append(`
            <tr id="tg-${tags.id}">
                <th scope="row">${tags.color}</th>
                <td>${ tags.label }</td>
                <td><pre><span onclick="editTag(${tags.id})"><i class="fas fa-pencil-alt" style="color:purple;"></i></span>   <span onclick="deleteTag(${tags.id})"><i class="far fa-trash-alt" style="color:purple;"></i></span></pre></td>
            </tr>
          `);
      }
    
    function deleteTag(id) {
      var action = confirm("Are you sure you want to delete ?");
      if (action != false) {
        $.ajax({
            url: '{% url "remove_tags" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.deleted) {
                  $("#myTable #tg-" + id).remove();
                }
            }
        });
      }
    }
    
    
    $("form#updateProgramme").submit(function() {
    
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val();
    var abbvInput = $('input[name="formAbbv"]').val().trim();
    
    
    if (nameInput && abbvInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "update_programmes" %}',
            data: {
              'id':idInput,
              'programme_name':nameInput,
              'programme_abbv':abbvInput,
            },
            dataType: 'json',
            success: function (data) {
                if (data.programme) {
                  
                  updateToUserTabel(data.programme);
                  
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    
    $('form#updateProgramme').trigger("reset");
    $('#myModal').modal('hide');
    return false;
    });
    
    
    function editProgramme(id) {
      
      if (id) {
      
      tr_id = "#pr-" + id;
      pname = $(tr_id).find(".proName").text();
      pabbv = $(tr_id).find(".proAbbv").text();
      
      $('#form-id').val(id);
      $('#form-name').val(pname);
      $('#form-abbv').val(pabbv);
    
      }
    }
    
    function updateToUserTabel(programme){
    $("#programmeTable #pr-" + programme.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "pname") {
          $(this).text(programme.programme_name);
        } else if (attr == "pabbv") {
          $(this).text(programme.programme_abbv);
        } 
      });
    }
    
    
    </script>
{% endblock javascript %}