{% extends 'base.html' %}


{% block title %}Sub Groups{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow-sm mb-4 bg-white rounded" style="border-radius: 100;" >
        <div class="card-header bg-light text-info">
            <h3><a href="{% url 'students' %}"><i class="fas fa-chevron-left fa-lg"></i></a>&nbsp; Sub Groups</h3>
        </div>
        <div class="scrollable">
            <div class="card-body bg-light">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <form action="" class="form-inline" id="addSubgroups">
                        <div class="form-group m-4">
                            <label class="text-black font-weight-bold" for="{{group.id}}">Group Id </label>
                            <input type="text" class="form-control m-3" id="{{group.id}}" name="groupId" value={{group.generated_group}} readonly/>
                        </div>
                        <div class="form-group m-4">
                            <label class="font-weight-bold" for="subgroupId">Sub Group </label>
                            <input type="number" class="form-control m-3" id="subgroupId" name="subgroup" min="1"/>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group m-4">
                                <input type="submit" class="form-control m-3 btn btn-info btn-block" id="save_btn" disabled="true" value="  Save  " />
                            </div>
                        </div>
                    </form>
                </div>
                {% if group.subgroup_set.all|length > 0 %}
                    <div style="float: right;">
                        <a href="{% url 'generate_subgroups' group.id %}"><button class="btn btn-lg btn-danger"> Generate </button></a>
                    </div>
                {% endif %}
                <div class="row row-cols-1 row-cols-md-4 chaa">
                    {% for subgroup in group.subgroup_set.all %}
                    <div class="col mb-2" id="sb-${subgroup.id}">
                        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
                            <pre>
                                <h5 class="proName">{{subgroup.subgroup_no }}    <span data-toggle="modal" data-target="#myModal" onclick="editSubgroup({{subgroup.id}})"><i class="fas fa-pencil-alt" style="color:purple;"></i></span>   <span onclick="deleteAca({{subgroup.id}})"><i class="far fa-trash-alt" style="color:purple;"></i></span><h5></pre>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--New Model-->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Sub Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="updateUser" action="">
          <div class="modal-body">
              <input class="form-control" id="form-id" type="hidden" name="formId"/>
              <label for="form-name">Sub group Number </label>
              <input class="form-control" id="form-name" type="number" min="1" name="formName"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="update_btn" class="btn btn-primary" disabled="true">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<script>

    $(function(){
        $('#subgroupId').change(function(){
            if($('input[name="subgroup"]').val())
                $('#save_btn').prop("disabled", false);
            else  
                $('#save_btn').prop("disabled", true);  
        });

        $('#form-name').change(function(){
            if($('input[name="formName"]').val())
                $('#update_btn').prop("disabled", false);
            else  
                $('#update_btn').prop("disabled", true); 
        });
    });

$("form#addSubgroups").submit(function() {

var groupId = $('input[name="groupId"]').val();
var subgroup = $('input[name="subgroup"]').val();

    // Create Ajax Call
    
    $.ajax({
        url: '{% url "add_subgroups" group.id %}',
        data: {
        'group':groupId,
        'subgroup_no':subgroup
        },
        dataType: 'json',
        success: function (data) {
            if(data.success_stat == 1){
                if (data.subgroup) {
                    appendToAcademicsTable(data.subgroup);
                    $('form#addSubgroups').trigger("reset");
                }
            }else{
                alert(data.error_msg);
            }
        }
    });

    $('#save_btn').prop("disabled", true);
    return false;
});

function appendToAcademicsTable(subgroup) {
    console.log('In method')
    $(".chaa").append(`
    <div class="col mb-4" id="sb-${subgroup.id}">
        <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <pre>
                <h5 class="proName">${subgroup.subgroup_no }    <span onclick="editSubgroup(${subgroup.id})" data-toggle="modal" data-target="#myModal" ><i class="fas fa-pencil-alt" style="color:purple;"></i></span>   <span onclick="deleteAca(${subgroup.id})"><i class="far fa-trash-alt" style="color:purple;"></i></span><h5></pre>
        </div>
    </div>
    `);
}

function deleteAca(id) {
  var action = confirm("Are you sure you want to delete?");
  if (action != false) {
    $.ajax({
        url: '{% url "remove_subgroups" group.id %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#sb-" + id).remove();
            }else{
                alert('error occured')
            }
        }
    });
  }
}
$("form#updateUser").submit(function() {

    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val();

    
    $.ajax({
        url: '{% url "update_subgroups" group.id %}',
        data: {
          'id':idInput,
          'subgroup_no':nameInput,
        },
        dataType: 'json',
        success: function (data) {
            if(data.success_stat == 1){
                $('form#updateUser').trigger("reset");
                updateToUserTabel(data.subgroup);
            }else{
                alert(data.error_msg)
            }
        }
    });
    $('#myModal').modal('hide');
    return false;
});


function editSubgroup(id) {
  
  if (id) {
    tr_id = "#sb-" + id;
    pname = $(tr_id).find(".proName").text();
    $('#form-id').val(id);
    $('#form-name').val(pname);
  }else{
      alert("id not found")
  }
}

function updateToUserTabel(academicyearsemester){
  location.reload();
}
</script>
{% endblock javascript %}